.Formwrapper {
    padding: 20px 0;
    display: flex;
    flex-direction: column;
}

.formLabel {
    font-size: 1.2rem;
    opacity: 0.6;
}
.imageprevievwrap{
    display: grid;
    grid-template-columns: 1fr 1fr;
    
}
.prwviewImage {
    width: 100%;
    background-color: lightgray;
    max-height: 300px;
    object-fit: cover;
}
.fileUpload {
    border-radius: 10px;
    padding: 10px;
    font-size: 1.5rem;
    border: 2px solid var(--bs-primary);
    outline: none;
    margin: 10px;

    &:hover {
        transition: 0.3s;
    border: 2px solid var(--bs-warning);
    scale: 1.02;
    }
}
