:root {
  --c-body: #242424;
  --c-lightgrey: #6665657d;
  --c-main: #ffffff;
  --c-effect: #7fffd4;
}

body {
  font-family:  system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  background-color: var(--c-body);
  color: var(--c-main);
}

.navigation {
  padding: 30px;
  display: flex;
  justify-content: space-around;
}

.navigation__element {
  text-decoration: none;
  color: var(--c-main);
  font-size: 1.2rem;
  cursor: pointer;
}
.navigation__element:hover {
  transition: 0.3s;
  text-decoration: underline;
  scale: 1.1;
}

.home_wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

}
.gameHedding {
  font-size: 2rem;
  color: var(--c-main);
}

.btn {
  margin: 5px;
  padding: 10px 20px;
  border: 2px solid var(--c-main);
  background-color: var(--c-body);
  color: var(--c-main);
  border-radius: 5px;
  cursor: pointer;
}
.startGameform{
  display: flex;
  flex-direction: column;
  align-items: center;
}
.btn:hover {
  transition: 0.3s;
  text-decoration: underline;
  border-color: var(--c-effect);
  color: var(--c-effect);
}
.textInput {
  outline: none;
  margin: 5px;
  padding: 10px 20px;
  border: 2px solid var(--c-main);
  background-color: var(--c-body);
  color: var(--c-main);
  border-radius: 5px;
}
.rulesWrapper{
  color: var(--c-main);
  font-size: 1.2rem;
  text-align: center;
}
.results__item {
  font-size: 1.5rem;
}

.game_header {
  text-align: center;
}
.game_header__hedding {
  font-size: 2rem;
}

.element_wrapper {
  padding: 20px;
  display: flex;
  justify-content: space-around;
}
.element_btn {
  width: auto;
  height: 150px;

  border: none;
  background: none;
  cursor: pointer;
}
.element_btn:hover {
  transition: 1s;
  scale: 1.3;
  rotate: 360deg;
}

.element_btn__icon {
  height: 100%;
}

.gamefield{
  display: grid;
  grid-template-columns: 30% 30% 30%;
  justify-content: space-between;
}
.elemet_wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50vh;
}
.element {
  height: 100%;
}

.element--player {
  transform: rotate(90deg) scaleX(-1);

}
.element--pc {
  transform: rotate(270deg);
}
.results{
  display: flex;
  flex-direction: column;
  align-items: center;
}
.name{
  font-weight: 700;
}

.resultsTable {
  width: 100%;
}
.resultsTable__row {
  border: 1px solid;
}
.resultsTable__row--heddings {
  font-size: 1.3rem;
  font-weight: 700;
}

.cell {
  background-color: var(--c-lightgrey);
  padding: 5px;
  border: 1px dashed;
}